<main local-class="main">
  <section local-class="title">
    <div local-class="logo">
      <img src="/images/logo.png" alt="">
    </div>

    <div local-class="name">
      <img src="/images/name.png" alt="">
    </div>
  </section>

  <section local-class="body">
    {{outlet}}
  </section>
</main>
