<div local-class="client">
  <div local-class="details">
    <div local-class="name">{{concat client.firstName " " client.lastName}}</div>
    <div local-class="contact">{{client.email}} | {{client.mobile}}</div>
  </div>

  <div local-class="create-voucher">
    <button local-class="button" type="button">
      <span local-class="span">+ Voucher</span>
    </button>
  </div>
</div>
