@keyframes spinner {
  to { transform: rotate(360deg); }
}

@keyframes wrapper {
  from { opacity: 0; }
  to { opacity: 1; }
}

.wrapper {
  animation: wrapper .7s
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #EA3D21;
  animation: spinner .8s linear infinite;
}
